/* Import fonts - Noto Sans + Oswald */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

/* Root */
:root {
    --bg-colour: #232527;
    --fnt-colour: #fff;
    --header-font: Oswald;
    --normal-font: Noto Sans;
}

/* Html - Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    margin: 0;
    font-family: var(--normal-font);
    background: var(--bg-colour);
    color: var(--fnt-colour);
}

/* Footer (Credits) */
footer > a {
    color: var(--fnt-colour);
    padding-left: 10px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--header-font);
}

/* h3 BESIDES nav links */
h3:not(nav>a>h3) {
    font-size: 2em;
    padding: 1em 0;
}

/* p */
p {
    color: #d1d1d1;
}

/* Section - padding */
section {
    padding: 0 10px 0 10px;
}

/* Unordered List - remove margin, more line height */
ul {
    margin: 0;
    line-height: 2;
}

/* Anchor has h3 - change color, remove text decoration */
a:has(h3) {
    transition-duration: 2s;
    color: var(--fnt-colour);
    text-decoration: none;
}

/* Header - Flex, space-between */
header {
    display: flex;
    justify-content: space-between;
}

/* Title - Font */
#title {
    font: var(--header-font);

    display: flex;
    align-items: center;
}

/* Before Title - Icon */
#title::before {
    content: ' ';
    background-image: url(/assets/code.png);
    height: 1em;
    width: 1em;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;  
    padding-right: 10px;
}

/* Nav > a > h3 - Add padding to left */
nav > a > h3 {
    padding-left: 10px;
}

/* Nav Hover - Change colour of other anchor elements */
nav:hover a {
    transition-duration: 1s;
    color: rgb(133, 133, 133);
}
/* Nav Anchor Hover - Don't change font colour, add underline */
nav a:hover {
    color: var(--fnt-colour);
    text-decoration: underline;
}

/* Anchor.icon - Color, size, padding, display */
a.icon {
    color: white;
    font-size: 2em;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

/* Section Title - Font size, Flex, Center */
.sectionTitle {
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

/* Footer Title - Font size */
#footerTitle {
    font-size: 1.5em;
    text-decoration: none;
}

/* Flex - Flex, Row, Bottom Padding */
.flex {
    display: flex;
    gap: 75px;
    padding-bottom: 10px;
}

/* Flex div ONLY IF IT HAS name job */
.flex:has(#nameJob) {
    gap: 20px;
}

/* Reverse */
.reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* Center */
.center {
    justify-content: center;
    text-align: center;
    gap: 50px;
}

/* Tools images */
.tools > div > img {
    height: 5em;
}

/* Text - Column, Space-evenly */
.text-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* Name + Job - No Decoration, margin top */
#nameJob {
    text-decoration: none;
    margin-top: 20px;
}

/* Fa-brands - Icon height */
.fa-brands {
    font-size: 5em;
}

/* SQL Icon - Added own icon, due to fontawesome not including one :( */
.fa-sql {
    content: url(/assets/sql.png);
    filter: invert();
    height: 1em;
}

/* Fa-brands BESIDES SQL - + Padding to match artificial SQL icon text*/
.fa-brands:not(.fa-sql) {
    padding: 2px 0;
}

/* Small Screens */
@media screen and (max-width: 1000px) {
    /* Nav - Hide, add burger menu, font-size bigger */
    nav {
        display: none;
        font-size: 1.5em;
        position: absolute;
        top: 63px;
        background: var(--bg-colour);
        width: 100%;
    }
    /* Title - Center horizontally, Absolute, left, 100% width, 2em */
    #title {
        justify-content: center;
        width: 100%;
        font-size: 2em;

        position: absolute;
        left: 0;
        height: 63px;
    }

    /* Before Title - Height */
    #title:before {
        height: 30px;
    }

    /* Burger Menu - Z-index up (above absolute title) */
    a.icon {
        z-index: 1000;
    }

    /* Top Header - Flex */
    #topheader {
        display: flex;
    }

    /* Header - Column flex direction */
    header {
        flex-direction: column;
    }

    /* Wrap */
    .wrap {
        flex-wrap: wrap;
    }

    /* Column */
    .column {
        flex-direction: column;
    }

    /* Flex Image - Max Width */
    .flex > img {
        max-width: 100%;
    }

    /* Name Job - Margin -  */
    #nameJob {
        margin: -10px;
    }

    /* Top Name Job - Margin-top */
    #nameJob:first-child {
        margin-top: 10px;
    }

    /* p - Larger line height */
    p {
        line-height: 1.6em;
    }
}

/* Wide Screens */
@media screen and (min-width: 1000px) {
    /* Nav - flex, space-evenly, align center, gap */
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 3em;
    }

    /* Title - Font-size */
    #title {
        font-size: 3em;
    }

    /* Burger Menu - Hidden */
    a.icon {
        display: none;
    }

    /* Header - Add spacing */
    header {
        margin: 0 10px 0 10px;
    }

    /* Name Job - Bigger Font */
    #nameJob {
        font-size: 2.5em;
    }

    /* Flex Img - Width */
    .flex > img {
        max-width: 20%;
    }
}